<p id="notice"><%= notice %></p>

<p>
  <strong>Aqmesh datum:</strong>
  <%= @aqmesh_channel.aqmesh_datum %>
</p>

<p>
  <strong>Pre scaled:</strong>
  <%= @aqmesh_channel.pre_scaled %>
</p>

<p>
  <strong>Scaled:</strong>
  <%= @aqmesh_channel.scaled %>
</p>

<p>
  <strong>Final:</strong>
  <%= @aqmesh_channel.final %>
</p>

<p>
  <strong>Offset:</strong>
  <%= @aqmesh_channel.offset %>
</p>

<p>
  <strong>Slope:</strong>
  <%= @aqmesh_channel.slope %>
</p>

<p>
  <strong>Status:</strong>
  <%= @aqmesh_channel.status %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @aqmesh_channel.unit %>
</p>

<p>
  <strong>Sensor:</strong>
  <%= @aqmesh_channel.sensor %>
</p>

<p>
  <strong>Label:</strong>
  <%= @aqmesh_channel.label %>
</p>

<%= link_to 'Edit', edit_aqmesh_channel_path(@aqmesh_channel) %> |
<%= link_to 'Back', aqmesh_channels_path %>
