<h1>Dashboard<sub>last updated <%= @channels.first.aqmesh_datum.timestamp.to_datetime.strftime("%d %b %Y %H:%M") %></sub></h1>
<% @channels.each_slice(4) do |a|%>
  <div class="row">
    <%  for i in a %>
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-<%= indicator_color(i.label,i.final) %>">
        <div class="inner">
          <h3><%= i.final %></h3>

          <p><%= i.label %></p>
        </div>
        <div class="icon">
          <!--<i class="ion ion-bag"></i>-->
        </div>
        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <% end %>
  </div>
<% end %>
<h2>Chart</h2>
<%= line_chart dashboards_latest_chart_data_path %>
<div id="chart-1" style="height: 300px;"></div>
