<h1>Dashboard<sub>last updated <%= @channels.first.aqmesh_datum.timestamp.to_datetime.strftime("%d %b %Y %H:%M") %></sub></h1>
<% @channels.each_slice(4) do |a|%>
  <div class="row">
    <%  for i in a %>
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-<%= set_indicator_for(i.label,i.final) %>">
        <div class="inner">
          <h3><%= "%2.2f" % i.final %> <sub><%= i.unit %></sub> </h3> 
          <p><%= i.label %></p>
        </div>
        <div class="icon">
          <!--<i class="ion ion-bag"></i>-->
        </div>
        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <% end %>
  </div>
<% end %>
<div id="my_map" style="width:1200px;height:380px;"></div>
<h2>Chart</h2>
<%= line_chart dashboards_latest_chart_data_path %><br>
<%= line_chart latest_chart_component_data_path('no') %><br>
<%= line_chart latest_chart_component_data_path('no2') %><br>
<%= line_chart latest_chart_component_data_path('co') %><br>
<%= line_chart latest_chart_component_data_path('so2') %><br>
<%= line_chart latest_chart_component_data_path('o3') %><br>
<%= line_chart latest_chart_component_data_path('temp') %><br>
<%= line_chart latest_chart_component_data_path('ap') %><br>
<%= line_chart latest_chart_component_data_path('hum') %>

<% content_for :ext_scripts do %>
  <script type="text/javascript" charset="utf-8">
    var myCenter=new google.maps.LatLng(51.508742,-0.120850);

    function initialize()
    {
    var mapProp = {
      center:myCenter,
      zoom:5,
      mapTypeId:google.maps.MapTypeId.ROADMAP
      };

    var map=new google.maps.Map(document.getElementById("my_map"),mapProp);

    var marker=new google.maps.Marker({
      position:myCenter,
      });

    marker.setMap(map);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
<% end %>
